:root {
	--size: 1.0;
}
.terminal {
	--color: lightgray;
	--background: black;
	--link-color: lightgray;
}

.terminal img {
	max-width: 20%;
	max-height: 20%;
	padding-right: 5px;
	padding-bottom: 5px;
}